.avatar {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background: gray;
  border-radius: 50%;
  overflow: hidden;
  &.rounded {
    border-radius: 4px;
  }

  &.tile {
    border-radius: 0;
  }
}
